<div class="container my-5">
  <h2 class="title-text">ショップ詳細</h2>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered border-dark">
        <tr class="brown-border">
          <td class="table-secondary">投稿者</td>
          <td>
            <%= link_to user_path(@user), class: "link" do %>
              <%= @user.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="brown-border">
          <td class="table-secondary">ショップ画像</td>
          <td><%= image_tag @shop.shop_image, size:'200x150' %></td>
        </tr>
        <tr class="brown-border">
          <td class="table-secondary">ショップ名</td>
          <td><%= @shop.name %></td>
        </tr>
        <tr class="brown-border">
          <td class="table-secondary">ショップのジャンル</td>
          <td><%= @shop.genre %></td>
        </tr>
        <tr class="brown-border">
          <td class="table-secondary">ショップの取扱ブランド</td>
          <td><%= @shop.brand %></td>
        </tr>
        <tr class="brown-border">
          <td class="table-secondary">ショップの住所</td>
          <td>
            <%= @shop.address %><br>
            ショップの地図
          </td>
        </tr>
        <tr class="brown-border">
          <td class="table-secondary">お気に入り</td>
          <td id="shop_<%= @shop.id %>" class="favorite-btn">
            <%= render "favorites/favorite-btn", shop: @shop %>
          </td>
        </tr>
        <tr class="brown-border">
          <td class="table-secondary">コメント件数</td>
          <td class="comments-count">
            <%= @shop.shop_comments.count %>
          </td>
        </tr>
      </table>

      <table class="table table-bordered border-dark">
        <tr class="brown-border">
          <td class="table-secondary">評価</td>
          <td><%= render "static_rate", shop: @shop %></td>
        <tr>
        <tr class="brown-border">
          <td class="table-secondary">口コミ内容</td>
          <td><%= @shop.description %></td>
        <tr>
      </table>
      <div>
        <% if @shop.user == current_user %>
          <%= link_to 'Edit', edit_shop_path(@shop), class: "btn btn-sm btn-success edit_shop_#{@shop.id}" %>
          <%= link_to 'Destroy', @shop, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_shop_#{@shop.id}"%>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <table class='shop_comments'>
        <%= render 'shop_comments/index', shop: @shop %>
      </table>
      <%= form_with model:[@shop, @shop_comment], local: false do |f| %>
        <%= f.text_area :comment, rows:'5', placeholder: "コメントを入力して下さい", class: "form-control" %>
        <%= f.submit "  送信  " %>
      <% end %>
    </div>
  </div>
</div>