<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>マイページ</h2>
      <table class="side-table">
        <tr>
          <%= image_tag @user.get_profile_image, size:'100x100' %>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <th><%= @user.nickname %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= @user.introduction %></th>
        </tr>
      </table>
      <%= link_to edit_user_path(@user) do %>
        <i class="fas fa-user-cog"></i>プロフィール編集
      <% end %>
      <p>
        <i class="fas fa-heart"></i>お気に入り一覧
      </p>
    </div>
    <div class="col-8">
      <div class="headline">
        <h2><%= current_user.nickname %>さんの投稿一覧</h2>
        <%= link_to new_shop_path, class: "btn btn-outline-success" do %>
          新規投稿<i class="fas fa-plus"></i>
        <% end %>
      </div>
      <div>
        <% @shops.each do |shop| %>
          <div class="user-shops">
            <div>
              <%= link_to shop_path(shop) do %>
                <%= image_tag shop.shop_image, size: "200x150" %>
              <% end %>
            </div>
            <div><%= shop.name %></div>
            <div>いいねカウント %</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
