<div class="container">
  <div class="row mt-3">
    <div class="col-3">
      <h2 class="offset-2">お問い合わせ</h2>
    </div>
    <%= form_with model: @inquiry, :url => inquiry_thanks_path do |f| %>
      <div class="row d-flex justify-content-start mt-3">
        <div class="col-2 mt-2">
          名前
        </div>
        <div class="col-4 mt-2">
          <%= f.hidden_field :name %>
        　<%= @inquiry.name %>
        </div>
        <div class="col-6"></div>

        <div class="col-2 mt-2">
          メールアドレス
        </div>
        <div class="col-4 mt-2">
          <%= f.hidden_field :email %>
        　<%= @inquiry.email %>
        </div>
        <div class="col-6"></div>
        <div class="col-2 mt-2">
          お問いわせ内容
        </div>
        <div class="col-4 mt-2">
          <%= f.hidden_field :message %>
        　<%= @inquiry.message %>
        </div>
        <div class="col-6"></div>

        <div class="col-2"></div>
        <div class="col-4 mt-2">
          <%= f.submit '送信', :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>